
body
{
    font-family: 'Segoe UI', 'Roboto-Light', sans-serif;
    background-color: #24292e;
    background-image: url(imgs/body/star-bg.svg), linear-gradient(to bottom, #191c20 15%, #24292e);
    background-repeat: repeat-x;
    background-position: center top;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: lighter;
    line-height: 1.5;
}
header
{
    text-align: center;
    padding-top: 32px;
    white-space: nowrap;
}

.nav
{
    font-size: 16px;
    color: #9f7be1;
    display: inline-block;
    margin-inline: 7px;
    margin-top: 8px;
    margin-bottom: 50px;
    text-decoration: none;
    font-weight: normal;
}
.nav:hover
{
    text-decoration: underline;
}
.overview
{
    color: white;
}
.titulo
{
    font-size: 40px;
    font-weight: lighter;
    color: white;
    margin: 0;
}
.p1
{
    width: 90%;
    color: rgba(255,255,255,0.65);
    font-size: 18px;
    margin: 0 auto;
}
.btn
{
    display: inline-block;
    line-height: 20px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 16px;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    padding-inline: 22.5px;
    border: black 1px solid;
    border-radius: 5px;
    white-space: nowrap;
    background-image: linear-gradient(to bottom, #8241f9, #4e277b);

}
.container1
{
    max-width: 980px;
    margin: auto;
    display: block;
}
.btn:hover
{
    background-image: linear-gradient(to bottom, #8f55fa, #55327e);
}
.btn:active
{
    background-image: linear-gradient(to bottom, #55327e, #8f55fa);
}

@media (min-width: 768px)
{
    .p1
    {
        width: 66%;
        font-size: 20px;
    }
    .titulo
    {
        font-size: 48px;
    }
    .btn
    {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-inline: 25px;
        font-size: 20px;
    }
}

@media (min-width:1012px)
{
    .container1
    {
        max-width: 1012px;
    }
}
@media (min-width:1280px)
{
    .container1
    {
        max-width: 1280px;
    }
}
